<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
 	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!--注意:namespace中的值必须是对应接口的全路径， SQL语句中的id值必须是这个接口中对应方法名称 -->
<mapper namespace="com.dq.springboot_recruit.mapper.ICompanyInfoMapper">
	<!-- //查找显示求职者信息 -->
	<select id="finds" resultType="CompanyInfo" parameterType="CompanyInfo">
		select
		nickname, companyname, companytype, companydescr, companypic, tel, email
		from 
		companyinfo 
		where 
		nickname = #{nickname}
	</select>
	
	<!-- 修改密码 -->
	<update id="updatePwd" parameterType="CompanyInfo">
		update companyinfo set pwd = #{pwd} where nickname = #{nickname}
	</update>
	
	<!-- 查询所有职位信息 -->
	<select id="findAllpositions" resultType="PositionsInfo">
		select pno, pname, cf.companypic, price, place from positionsinfo pf, companyInfo cf where pf.cno = cf.cno and cf.nickname = #{nickname}
	</select>
	
	<!-- 分页查询 -->
	<select id="findBypage" resultType="PositionsInfo">
		select pno, pname, cf.companypic, price, place from positionsinfo pf, companyInfo cf where pf.cno = cf.cno and cf.nickname = #{nickname} limit #{pageNo}, #{pageSize}
	</select>
	
	<!-- 查询详细职位信息 -->
	<select id="findDetails" parameterType="PositionsInfo" resultType="PositionsInfo">
		select pno, cf.companyname, pt.tname, cf.companypic, pname, price, intro, place, descr, pdate from positionsinfo pf, companyInfo cf, positionType pt where pf.cno = cf.cno and pf.pno = #{pno} and pf.tno = pt.tno
	</select>
</mapper>